@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

$xsm: 35rem;
$sm: 40rem;
$md: 48rem;
$lg: 64rem;
$xl: 80rem;
$xxl: 96rem;

$Red: hsl(4, 100%, 67%);
$RedLight: hsl(4, 100%, 90%);
$Blue800: hsl(234, 29%, 20%);
$Blue700: hsl(235, 18%, 26%);
$Grey: hsl(0, 0%, 58%);
$White: hsl(0, 0%, 100%);

@mixin flexbox($type) {
  display: flex;

  align-items: center;
  @if ($type == "column") {
    flex-direction: column;
    justify-content: start;
  } @else if ($type == "row") {
    flex-direction: row;
    justify-content: center;
  }
}

@mixin background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin button {
  background-color: $Blue800;
  border: none;
  color: $White;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $Red;
    box-shadow: 0 5px 25px $Red;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100dvh;
  background-color: $Blue700;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: $Blue800;
  line-height: 1.5;
  @include flexbox("column");
  @media (min-width: $sm) {
    @include flexbox("row");
  }
}

main {
  width: 100%;
  height: 100%;
  @include flexbox("row");
  section {
    width: 100%;
    min-height: 100dvh;
    background-color: $White;
  }
}

h1,
h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

article {
  display: grid;
  gap: 1rem;
}

#signUp {
  @include flexbox("column");
  gap: 1rem;
  @media (min-width: $sm) {
    flex-direction: row;
    min-height: auto;
    max-height: 40rem;
    max-width: 58rem;
    padding: 2rem;
    border-radius: 2rem;
    overflow: hidden;
  }
  .image {
    background-image: url("./assets/images/illustration-sign-up-mobile.svg");
    @include background-image;
    background-position: center bottom;
    width: 100%;
    aspect-ratio: 16/9;
    @media (min-width: $xsm) {
      background-image: url("./assets/images/illustration-sign-up-tablet.svg");
    }
    @media (min-width: $sm) {
      order: 1;
      background-image: url("./assets/images/illustration-sign-up-desktop.svg");
      background-position: right center;
      flex: 1 1 50%;
      align-self: stretch;
      aspect-ratio: auto;
      border-radius: 1rem;
    }
  }
  article {
    padding: 2rem;
    gap: 1rem;
    @media (min-width: $sm) {
      flex: 1 1 50%;
    }
    ul {
      list-style: none;
      li {
        position: relative;
        padding-left: 2.2rem;
        margin: 1rem 0;
        &::before {
          content: "";
          background: url("./assets/images/icon-list.svg");
          @include background-image;
          width: 1.3rem;
          aspect-ratio: 1/1;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  form {
    label,
    #noValidateMsg {
      font-size: 0.75rem;
      font-weight: 700;
      display: inline-block;
    }
    #noValidateMsg {
      color: $Red;
      float: right;
      display: none;
    }
    input {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1px solid $Grey;
      margin: 0.5rem 0 1rem;
      cursor: pointer;
      &.error {
        border: 1px solid $Red;
        background-color: $RedLight;
        color: $Red;
      }
      &#email:focus {
        border: 1px solid $Blue800;
      }
      &#email:focus-visible {
        outline: none;
      }
      &#submitBtn {
        @include button;
      }
    }
  }
}

#successMsg {
  display: none;
  grid-template-rows: 1fr 3fr auto;
  justify-content: flex-start;
  padding: #{clamp(2rem, 8%, 3rem)};
  gap: 2rem;
  width: #{min(30rem, 100%)};
  min-height: 100dvh;
  @media (min-width: $sm) {
    min-height: auto;
    height: auto;
    grid-template-rows: auto 1fr auto;
    border-radius: 2rem;
  }
  .image {
    background-image: url("./assets/images/icon-success.svg");
    @include background-image;
    aspect-ratio: 1/1;
    align-self: end;
    width: 3rem;
  }
  article {
    align-self: start;
    #emailValue {
      font-weight: 700;
    }
  }
  #dismissBtn {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    @include button;
    align-self: end;
  }
}
